@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 34px;
    width: 130px;
    margin-right: px;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    position: absolute;
    padding-right: 50px;
    padding-left: 120px;
    top: 0;
    height: 70px;
    width: 100vw;
    background: rgba(0, 0, 0, 0.33);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    top: 0;
    z-index: 2;
    gap: 20px;


}

.cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.cart-num {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: yellow;
}



.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

a {
    all: unset;
    color: white
}



.hero-section {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url(/img/hero-bg.jpg) no-repeat center center/cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

h1 {
    color: black;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin: 20px 0px 10px;
}

.white {
    color: white;
    font-size: 40px;
    margin-top: 80px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 20px 0px 10px;
}

.empty-section {
    height: 100vh;
    width: 100vw;
    color: black;
    /* color: #4B4741; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.empty-section div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.brief {
    color: #4B4741;
}

.line {

    height: 3px;
    width: 113px;
    background-color: orange;


}

.hero {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.images {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.small-images {
    /* width: 100%; */
    /* flex-direction: row;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* reservations section */
/* .reservations {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}

.section-header h1 {
    color: #4B4741;  
    font-size: 34px;
}

.section-header p {
    font-size: 24px;
    color: #777777;
}


.heading-dash {
    margin: 20px 0;
    height: 3px;
    width: 113px;
    background-color: #f9c56a;
}

.reservation-input-grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.reservation-inputs {
    height: 105px;
    width: 357px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.reservation-inputs input {
    all: unset;
}
.reservation-inputs div {
    background-color: #f3f1ed;
    height: 40px;
    width: 326px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grids p{
    height: 25px;
    width: 39px;
} */
.RESERVATION {

    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.header-reservation {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header-reservation h1 {
    font-size: 35px;
    color: #333333;
}

.header-reservation p {
    font-size: 20px;
    color: burlywood;

}

.dash-line {
    height: 3px;
    background: orange;
    width: 113px;
    margin-top: 1%;

}

.grid {
    height: 40vh;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    border: 1px solid #f3f1ed;

}

.grids {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Josefin sans";
    color: #333333;
    font-size: 18px;

}

.grids div {
    background-color: #f3f1ed;
    font-family: "Josefin sans";
    height: 40px;
    width: 326px;
    /* background: gray; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: ; */
    border-color: #f3f1ed;
}

.grids input {
    background: #f3f1ed;
    height: 40%;
    width: 326px;
    border: 0.1px #f3f1ed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features {

    height: 100vh;
    background-image: url("https://demo.web3canvas.com/themeforest/tomato/img/bg4.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-features {
    font-family: 'ra';
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #f3f1ed;
}

.header-features h1 {
    margin-top: 5%;
    color: #f3f1ed;

    font-size: 36px;
}

.header-features p {
    font-size: 23.4px;
}

.line {

    margin-left: 25px;
    width: 113px;
    height: 3px;
}

.cards {
    /* margin-top: 10%; */
    /* margin-left: 5%; */
    width: 100%;
    height: 574.14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 20%;
    color: #333333;
    gap: 30px;
    margin: 8%;


}

.card {
    background: #fff;
    width: 390px;
    height: 574.14px;
}

.card h1 {

    font-size: 25px;
    color: #4B4741;
    text-align: start;
    padding-left: 20px;

}

.card p {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'raleway';
    margin-top: 20px;
    line-height: 30px;


}

.menu {
    height: 867.14px;
    width: 1665px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.header-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'raleway', 'sans-serif';
    /* font-size: 36px; */
    color: #4B4741;
}

.header-menu h1 {
    color: #4B4741;
    font-size: 36px;
    /* margin: 20px 0px 10px; */
    
}
.header-menu p{
    font-size: 23px;
}
.line{
    margin-top: 10px;
}
.menu-tags{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    height: 45.7px;
    width: 1140px;
    gap: 40px;
    margin-top: 50px;
}
.tagsort{
font-size: 18px;
font-family: 'raleway' , 'sans-serif';
color: #4B4741;
font-weight: bold;

}
span{
    font-size: 18px;
    font-weight: bold;
    font-family: 'raleway' , 'sans-serif';
    color: #4B4741;
    gap: 10px;
}

.menu-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 477.5px;
    width: 1170px;

}

.items{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

}
.items div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 12px;
 

}
.items div h4{
       font-family: 'raleway' , 'sans-serif';
    font-size: 22px;
    color: #4B4741;
}
.dot{
border: 3px dotted #4B4741;
width: 257px;

}
.items {
    display: flex;
    justify-content:center ;
    align-items:start ;
    flex-direction: column;

    font-size: 18px;
    font-family: 'josefin-sans';
    color: #4B4741;
}

