* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    height: 34px;
    width: 130px;
    margin-right: px;
}

body {
    height: 100vh;
    width: 100vw;
}

header {
    position: absolute;
    padding-right:50px;
    padding-left: 120px;
    top: 0;
    height: 70px;
    width: 100vw;
    background: rgba(0, 0, 0, 0.33);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    top: 0;
    z-index: 2;
    gap: 20px;


}
.cart{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.cart-num{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: yellow;
}
    


.nav-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}

a {
    all: unset;
    color: white
}



.hero-section {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: url(/img/hero-bg.jpg) no-repeat center center/cover;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

h1 {
    color: black;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    margin: 20px 0px 10px;
}

.white {
    color: white;
    font-size: 40px;
    margin-top: 80px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 20px 0px 10px;
}

.empty-section{
    height: 100vh;
    width: 100vw;
    color: black;
    /* color: #4B4741; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.empty-section div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.brief{
    color: #4B4741;
}
.line {

    height: 3px;
    width: 113px;
    background-color: orange;


}
.hero{
    display: flex;
    justify-content:center ;
    align-items: center;
    flex-direction: column;
    
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}
